page-chat {
    .list {
        margin-top: 7px;
        .item {
            padding-top: 4px;
            padding-bottom: 4px;
            margin-bottom: 2px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            ion-avatar {
                width: 70px;
                height: 70px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                img {
                    position: absolute;
                    top: 0 !important;
                    left: 0 !important;
                    right: 0 !important;
                    bottom: 0 !important;
                    margin: auto !important;
                    width: 75px;
                    height: 75px;
                    max-width: unset !important;
                }
            }
            h2 {
                font-size: 1.7rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                margin-bottom: 3px;
                span {
                    &.small {
                        font-size: 1.3rem;
                        font-weight: 300;
                        &.text-light-grey {
                            color: #cecece !important;
                        }
                    }
                    &.ml-auto {
                        margin-left: auto;
                        min-width: 80px;
                        text-align: right;
                        color: #a1a1a0;
                        font-weight: 300;
                        font-size: 1.2rem;
                    }
                }
            }
            p {
                font-size: 1.2rem;
                font-weight: 400;
                color: #6c6c6c !important;
            }
        }
    }
}
