page-forgotpassword {
    .header {
        .toolbar {
            .toolbar-content {
                .toolbar-title {
                    color: black !important;
                }
            }
            .bar-button,
            .back-button {
                color: black !important;
            }
        }
    }
    .form {
        p {
            margin: auto;
            font-weight: 300;
            font-size: 1.28rem;
            margin-top: 40px;
            line-height: 16px;
            margin-bottom: 21px;
        }
        .list {
            margin-bottom: 45px;
            .item {}
        }
    }
    .fixed-bottom {
        p {
            margin-top: 10px;
            margin-bottom: 10px;
            small {
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }
    @media (max-width: 320px) {
        .fixed-bottom {
            p {
                small {
                    font-size: 1rem;
                }
            }
        }
    }
}
