page-requests {
    .segment {
        .segment-button {
            border: none !important;
            position: relative;
            font-size: 1.6rem;
            color: #fff;
            text-transform: none;
            font-weight: 400;
            opacity: unset;
            letter-spacing: .5px;
            background: none !important;
            border: none !important;
            height: 4.7rem;
            width: 100%;
            font-weight: 300;
            &.segment-activated {
                font-weight: 400;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    width: 100px;
                    height: 4px;
                    margin: auto;
                    background: #fff;
                }
            }
        }
    }
    .list {
        margin-top: 7px;
        .item {
            padding-top: 4px;
            padding-bottom: 4px;
            margin-bottom: 2px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            ion-avatar {
                width: 70px;
                height: 70px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                img {
                    position: absolute;
                    top: 0 !important;
                    left: 0 !important;
                    right: 0 !important;
                    bottom: 0 !important;
                    margin: auto !important;
                    width: 75px;
                    height: 75px;
                    max-width: unset !important;
                }
            }
            h2 {
                font-size: 1.6rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                span {
                    &.small {
                        font-size: 1.3rem;
                        font-weight: 300;
                    }
                    &.ml-auto {
                        margin-left: auto;
                        font-weight: 500;
                        min-width: 80px;
                        text-align: right;
                        color: #a1a1a0;
                    }
                }
            }
            &.approved {
                h2 {
                    span {
                        &.ml-auto {
                            color: green !important;
                        }
                    }
                }
            }
            &.rejected {
                h2 {
                    span {
                        &.ml-auto {
                            color: red !important;
                        }
                    }
                }
            }
            &.in-process {
                h2 {
                    span {
                        &.ml-auto {
                            color: black !important;
                        }
                    }
                }
            }
            p {
                font-size: 1.15rem;
                font-weight: 400;
                color: #6c6c6c !important;
                display: flex;
                align-items: center;
                span {
                    img {
                        position: relative;
                        width: 7px;
                        top: 1px;
                    }
                    &.ml-auto {
                        margin-left: auto;
                        font-weight: 300;
                        font-size: 1.1rem;
                        min-width: 123px;
                        max-width: 130px;
                        text-align: right;
                    }
                }
            }
        }
    }
}
