page-chatscreen {
    .header {
        .toolbar {
            .toolbar-content {
                .toolbar-title {
                    padding-left: 0;
                    font-size: 1.5rem;
                    font-weight: 300;
                    span {
                        &.profile {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-left: 0;
                            margin-right: 9px;
                            position: relative;
                            overflow: hidden;
                            img {
                                position: absolute;
                                top: 0 !important;
                                left: 1px !important;
                                right: 0 !important;
                                bottom: 0 !important;
                                margin: auto !important;
                                width: 40px;
                                height: 40px;
                                max-width: unset !important;
                            }
                        }
                    }
                    small {
                        margin-left: 4px;
                        font-weight: 300;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .back-button {
            margin-right: 0;
        }
    }
    .card {
        width: 100%;
        max-width: 70%;
        border-radius: 7px;
        padding-bottom: 7px;
        padding-right: 7px;
        margin-bottom: 20px;
        &.send {
            border-bottom-right-radius: 0;
            background: black;
            margin-left: auto;
            h2 {
                color: white;
            }
            p {
                color: white;
            }
        }
        &.received {
            border-bottom-left-radius: 0;
            background: white;
            margin-right: auto;
        }
        h2 {
            padding: 20px 10px 4px 20px;
            font-size: 1.3rem;
            padding-bottom: 10px;
        }
        p {
            font-size: 1.2rem;
            font-weight: 300;
            text-align: right;
        }
    }
    .fixed-bottom {
        background: white;
        padding: 3px 2px;
        .row {
            .col {
                .list {
                    margin: 0 -2px;
                    .item {
                        border-radius: 7px;
                        background: #eeeeee;
                        box-shadow: none !important;
                        border-bottom: none !important;
                        .text-input {
                            margin-left: 0;
                            font-size: 1.3rem;
                            font-weight: 300;
                            letter-spacing: .5px;
                        }
                    }
                }
                h3 {
                    &[item-end] {
                        margin-right: 0;
                        ion-icon {
                            min-width: 21px;
                            text-align: center;
                            font-size: 2rem;
                            color: #828282;
                            img {
                                width: 2rem;
                                position: relative;
                                top: 1px;
                            }
                        }
                    }
                }
                p {
                    border-radius: 7px;
                    margin: 0;
                    line-height: 44px;
                    height: 44px;
                    color: white;
                    ion-icon {
                        font-size: 2.2rem;
                        line-height: unset;
                    }
                }
            }
        }
    }
}
