page-account {
    .list {
        margin-top: 7px;
        .item {
            padding-top: 4px;
            padding-bottom: 4px;
            margin-bottom: 0px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.10);
            border-bottom: 1px solid #b7b7b7 !important;
            padding-left: 5px;
            &.profile {
                margin-bottom: 2px;
                padding-left: 16px;
                border-bottom: 0px solid #6a6a6a !important;
                ion-avatar {
                    width: 75px;
                    height: 75px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                        position: absolute;
                        top: 0 !important;
                        left: 0 !important;
                        right: 0 !important;
                        bottom: 0 !important;
                        margin: auto !important;
                        width: 80px;
                        height: 80px;
                        max-width: unset !important;
                    }
                }
                p {
                    font-size: 1.3rem;
                    color: #9d9d9d !important;
                    font-weight: 300;
                    padding-top: 3px;
                }
                h2 {
                    font-weight: 500;
                    ion-icon {
                        color: #797979;
                    }
                }
            }
            h2 {
                font-size: 1.67rem;
                font-weight: 400;
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                ion-icon {
                    margin-left: auto;
                    color: #cbcbcb;
                    font-size: 1.8rem;
                    &.mr-auto {
                        min-width: 69px;
                        max-width: 69px;
                        margin-left: 0;
                        text-align: center;
                        font-size: 2.3rem;
                        img {
                            width: 16px;
                        }
                    }
                }
            }
            &.sign-out {
                border-bottom: 0px solid #6a6a6a !important;
                margin-top: 14px;
                h2 {
                    display: block;
                }
            }
            &:last-child {
                border-bottom: 0px solid #6a6a6a !important;
            }
        }
    }
}
